@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.navbar {
  background: #3B3B3B;
  border-bottom: solid 2px #D64E3D; }
  .navbar a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
    .navbar a p {
      margin: 0;
      font-family: "Poppins", sans-serif;
      font-weight: 300;
      font-size: clamp(0.8rem, 5vw, 1.3rem);
      color: #f3f3f3;
      text-transform: uppercase; }
    .navbar a img {
      width: 70px;
      margin: 0 10px; }
  .navbar .navbar-toggler {
    border: 0; }
    .navbar .navbar-toggler .toggler-icon {
      position: relative;
      width: 30px;
      height: 2px;
      background: transparent;
      display: block;
      transition: all 0.5s ease;
      border-radius: 10px; }
    .navbar .navbar-toggler .toggler-icon::before,
    .navbar .navbar-toggler .toggler-icon::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 2px;
      background-color: white;
      transition: all 0.5s ease; }
    .navbar .navbar-toggler .toggler-icon::after {
      transform: rotate(45deg); }
    .navbar .navbar-toggler .toggler-icon::before {
      transform: rotate(-45deg); }
  .navbar .navbar-toggler:focus,
  .navbar .navbar-toggler:active {
    outline: none;
    box-shadow: none;
    border: 0; }
  .navbar .navbar-toggler.collapsed .toggler-icon {
    background: white; }
  .navbar .navbar-toggler.collapsed .toggler-icon::before {
    top: -10px;
    transform: rotate(0); }
  .navbar .navbar-toggler.collapsed .toggler-icon::after {
    top: 10px;
    transform: rotate(0); }
  .navbar .navbar-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 100px; }
    .navbar .navbar-nav .nav-item .nav-link {
      position: relative;
      color: white;
      text-transform: uppercase; }
    .navbar .navbar-nav .nav-item .nav-link::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #D64E3D;
      transform-origin: bottom right;
      transition: transform 0.4s ease-out; }
    .navbar .navbar-nav .nav-item .nav-link:hover {
      color: #D64E3D; }
    .navbar .navbar-nav .nav-item .nav-link:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left; }

.navigation {
  background: white;
  margin-top: 30px;
  padding: 5px 30px;
  font-size: 0.9rem; }
  .navigation a {
    margin: 0;
    font-family: "Source Code Pro", monospace;
    color: black;
    text-decoration: underline; }

.headerSlider {
  margin-top: 10px; }
  .headerSlider .carousel .carousel-inner .carousel-item {
    position: relative;
    min-height: 300px;
    max-height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .headerSlider .carousel .carousel-inner .slide1 {
    background-image: url(../../assets/slide1.jpg); }
  .headerSlider .carousel .carousel-inner .slide2 {
    background-image: url(../../assets/slide2.jpg); }
  .headerSlider .carousel .carousel-inner .slide3 {
    background-image: url(../../assets/slide3.jpg); }

.headerInfo {
  margin-top: 10px;
  background: #3B3B3B;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row; }
  .headerInfo .infoItems {
    background: #505257;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; }
    .headerInfo .infoItems .item {
      padding: 15px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      border: solid 1px #f3f3f3;
      border-radius: 10px;
      width: 200px;
      max-width: 200px;
      margin: 10px auto; }
      .headerInfo .infoItems .item i {
        font-size: 2rem;
        color: #f3f3f3; }
      .headerInfo .infoItems .item h6 {
        font-size: clamp(0.8rem, 5vw, 1rem);
        color: #f3f3f3;
        text-align: center; }

@media screen and (min-width: 992px) {
  .navbar-expand-lg {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row; }
    .navbar-expand-lg .navbar-collapse {
      flex-grow: 0; }
      .navbar-expand-lg .navbar-collapse .navbar-nav {
        align-self: flex-end;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        margin-top: 0; }
  .headerSlider .carousel .carousel-inner .carousel-item {
    position: relative;
    min-height: 400px;
    max-height: 400px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; }
  .headerInfo .infoItems {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row; }
    .headerInfo .infoItems .item {
      max-height: 126px; } }

.primary-container {
  height: 100vh;
  background: #DADDE2;
  padding: 0; }

.infoOferts {
  position: relative;
  margin-top: 20px;
  min-height: 700px;
  max-height: 700px;
  background: #000;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url(../../assets/ofertsBg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column; }
  .infoOferts .ofert {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    text-align: center; }
    .infoOferts .ofert h1 {
      font-size: clamp(4.5rem, 5vw, 6rem);
      font-weight: bolder;
      margin-bottom: 20px;
      color: transparent;
      opacity: 0.8;
      background-clip: text;
      -webkit-background-clip: text;
      background-size: 500%;
      -webkit-background-size: 500%;
      animation: animate 5s linear infinite;
      background-image: linear-gradient(to left, #3F1D3F, #B17AB5, #E7A623); }

@keyframes animate {
  0% {
    background-position: 0 100%; }
  50% {
    background-position: 100% 0; }
  100% {
    background-position: 0 100%; } }
    .infoOferts .ofert h3 {
      font-size: 1.5rem;
      color: #f3f3f3;
      opacity: 0.9;
      text-transform: uppercase; }
  .infoOferts .btnContainer .draw-border {
    box-shadow: inset 0 0 0 4px #55BAC0;
    color: #55BAC0;
    transition: color 0.25s 0.08333s;
    position: relative; }
    .infoOferts .btnContainer .draw-border::before, .infoOferts .btnContainer .draw-border::after {
      border: 0 solid transparent;
      box-sizing: border-box;
      content: '';
      pointer-events: none;
      position: absolute;
      width: 0;
      height: 0;
      bottom: 0;
      right: 0; }
    .infoOferts .btnContainer .draw-border::before {
      border-bottom-width: 4px;
      border-left-width: 4px; }
    .infoOferts .btnContainer .draw-border::after {
      border-top-width: 4px;
      border-right-width: 4px; }
    .infoOferts .btnContainer .draw-border:hover {
      color: #ffe593; }
      .infoOferts .btnContainer .draw-border:hover::before, .infoOferts .btnContainer .draw-border:hover::after {
        border-color: #ffe593;
        transition: border-color 0s, width 0.25s, height 0.25s;
        width: 100%;
        height: 100%; }
      .infoOferts .btnContainer .draw-border:hover::before {
        transition-delay: 0s, 0s, 0.25s; }
      .infoOferts .btnContainer .draw-border:hover::after {
        transition-delay: 0s, 0.25s, 0s; }
  .infoOferts .btnContainer button {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: "Roboto", sans-serif;
    font-weight: bold;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
    font-size: 1rem; }
    .infoOferts .btnContainer button a {
      text-decoration: none;
      color: #55BAC0; }
  .infoOferts .btnContainer button:focus {
    outline: 2px dotted #55BAC0; }
  .infoOferts .btnContainer button:hover a {
    color: #ffe593; }

.homeNosotros {
  background: #fff;
  margin-top: 15px;
  padding: 75px 0; }
  .homeNosotros .homeNosotros__text h2 {
    font-family: "Montserrat", sans-serif;
    font-size: clamp(2rem, 5vw, 3rem); }
  .homeNosotros .homeNosotros__text h6 {
    font-family: "Poppins", sans-serif;
    font-size: 1rem; }
  .homeNosotros .homeNosotros__text .homeNosotros__btn {
    background: transparent;
    margin-top: 40px;
    outline: none;
    border: none;
    border: solid 1px #3B3B3B;
    padding: 15px 25px;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 15px 0 0 0 #E7A623;
    transition: ease-out .4s; }
    .homeNosotros .homeNosotros__text .homeNosotros__btn a {
      text-decoration: none;
      color: #3B3B3B;
      text-transform: uppercase; }
      .homeNosotros .homeNosotros__text .homeNosotros__btn a i {
        margin-left: 10px; }
  .homeNosotros .homeNosotros__text .homeNosotros__btn:hover {
    box-shadow: inset 400px 0 0 0 #E7A623; }
  .homeNosotros .homeNosotros__logo {
    min-width: 250px;
    min-height: 300px;
    width: 400px;
    height: 500px;
    background: url(../../assets/Logo-sin-fondo/Isologotipo-04-cortado.png) no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 30px;
    border-radius: 5px; }

@media screen and (min-width: 992px) {
  .infoOferts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row; }
    .infoOferts .btnContainer {
      position: absolute;
      bottom: 0;
      margin-bottom: 80px; }
  .homeNosotros__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse; } }
