.primary-container {
    height: 100vh;
    background: #DADDE2;
    padding: 0;
}

.infoOferts {
    position: relative;
    margin-top: 20px;
    min-height: 700px;
    max-height: 700px;
    background: #000;
    background: linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.8)
        ),
        url(../../assets/ofertsBg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 10px;
    @include flex(space-around, column, center);

    .ofert {
        @include flex(space-around, column, center);
        font-family: $poppins-font;
        text-align: center;

        h1 {
            font-size: clamp(4.5rem, 5vw, 6rem);
            font-weight: bolder;
            margin-bottom: 20px;
            color: transparent;
            opacity: 0.8;
            background-clip: text;
            -webkit-background-clip: text;
            background-size: 500%;
            -webkit-background-size: 500%;
            animation: animate 5s linear infinite;
            background-image: linear-gradient(to left, #3F1D3F, #B17AB5, #E7A623);
        }

        // TEXT ANIMATION

        @keyframes animate {
            0% {
              background-position: 0 100%;
            }
            50% {
              background-position: 100% 0;
            }
            100% {
              background-position: 0 100%;
            }
        }

        h3 {
            font-size: 1.5rem;
            color: #f3f3f3;
            opacity: 0.9;
            text-transform: uppercase;
        }

    }

    .btnContainer {
        .draw-border {
            @include btn-border-drawing(#55BAC0, #ffe593, 4px, bottom, right);
          }
        button {
            background: none;
            border: none;
            cursor: pointer;
            line-height: 1.5;
            font: $roboto-font;
            font-weight: bold;
            padding: 1em 2em;
            letter-spacing: 0.05rem;
            font-size: 1rem;

            a {
                text-decoration: none;
                color: #55BAC0;
            }
        }
        button:focus {
            outline: 2px dotted #55BAC0; 
        }

        button:hover {

            a {
                color: #ffe593;
            }
        }
    }
}


// MEDIA QUERYS

@media screen and (min-width: 992px) {

    .infoOferts {
        @include flex(space-around, row, center);

        .btnContainer {
            position: absolute;
            bottom: 0;
            margin-bottom: 80px;
        }
    }
}

